$primary_color: #920000;

h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}
p.h5 {
    padding-bottom: 8px;
}
.contact-type {
    padding-right: 8px;
}

.container {
    padding-bottom: 25px;
}

.m-card {
    max-width: 400px;
}

#author-name {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-right: 25px;
}
